# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Testing
.pytest_cache/

# Environment variables / secrets
.env
.env.*
!.env.example

# IDE
.vscode/

# Logs
*.log

# macOS
.DS_Store
# Locust virtual environment
.locust-venv/
